.bouton{
	background-color: #0074d9;
	border: none;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
	width: 150px;
}

.bouton:hover{
	color: red;

}

.d1{

	border-radius: 5px;
	background-color: lightgray;
	width: 15%;
	padding: 3%;
	transition: 0.5s;
	text-align: center;
	border:none;
}




.d1:hover{
	transform: scale(1.05);
	background-color: grey;
}