body{
    background-color: white;
}
header{
    border: solid;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 15px;
}
div.menugauche{
    text-align: center;
    border: solid;
    width: 15%;
    height: 800px;
    border-radius: 10px;
    float: left;
}
div.menudroite{
    border: solid;
    float: left;
    margin-left: 19px;
    width: 80%;
    height: 800px;
}
iframe{
    margin-top: 42px;
    margin-left: 19px;
    height: 610px;
    width: 1010px;
    border: solid;
    float: left;


}
div.photo{
    float: right;
    position: absolute;
    margin-left: 1100px;
    margin-top: 30px;
}
div#menu{
    text-align: center;
    width: 99px;
    color:black;
    margin-left: 85px;
}
div#menu ul{
padding: 0px;
width: 100px;
border: 1px solid;
margin: 0px;
}
div#menu ul li{
    position:relative;
    list-style: none;
    border-bottom: 1px solid;
}
div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
    display: none;
}
div#menu li a{
    text-decoration: none;
    padding: 4px 0px 4px 8px;
    display: block;
    border-left: 2px solid green;
    width: 84px;
}
div#menu li a:hover{
    border-left-color: red ;
}

div#menu ul.n1 li.sousmenu:hover ul.n2,div#menu ul.n2 li.sousmenu:hover ul.n3{
    display: block;
}
div#menu li:hover{
    background: red;
}
div#menu li.sousmenu:hover{
    background: red;
}
div#menu ul ul li a:hover{
    border-left-color:red ;
}
div#menu ul ul ul li a:hover{
    border-left-color:red ;
}