h1{

    text-align: center;
}
input{

    border: solid;
    border-radius: 20px;
    
    

}
button{

  border: solid;
  border-radius: 20px;
  background-color: green;
  padding-left: 20px;
  padding-right: 20px;
  

}
button:hover{

    cursor: pointer;
    background-color: green;
    color: white;
}
body{

    background-color: grey;
    
}
div{

    margin-left: 35%;
}